@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
  background-color: #e5e5e5; }

a {
  text-decoration: none;
  color: #212629;
  font-size: 1rem;
  cursor: pointer; }

ul {
  list-style: none;
  list-style-position: inside; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #212629;
  text-transform: uppercase;
  font-weight: 200; }

#default {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 320px;
  z-index: -1; }
  #default .def_container {
    height: 100%;
    width: 1500px; }
    @media (max-width: 1500px) {
      #default .def_container {
        width: calc(1500px * 0.8); } }
    @media (max-width: 1200px) {
      #default .def_container {
        width: calc(1200px * 0.8); } }
    @media (max-width: 960px) {
      #default .def_container {
        width: calc(960px * 0.8); } }
    @media (max-width: 768px) {
      #default .def_container {
        width: 100%; } }

.container {
  width: 1500px;
  min-width: 320px;
  margin: 0 auto; }
  @media (max-width: 1500px) {
    .container {
      width: calc(1500px * 0.8); } }
  @media (max-width: 1200px) {
    .container {
      width: calc(1200px * 0.8); } }
  @media (max-width: 960px) {
    .container {
      width: calc(960px * 0.8); } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

.border_right {
  border-right: 2px dashed #ea2a00; }

.border_top {
  border-top: 2px dashed #ea2a00; }

.border_left {
  border-left: 2px dashed #ea2a00; }

.border_bottom {
  border-bottom: 2px dashed #ea2a00; }

.br_r_t_r {
  border-top-right-radius: 30px; }

.br_r_t_l {
  border-top-left-radius: 30px; }

.br_r_b_l {
  border-bottom-left-radius: 30px; }

.br_r_b_r {
  border-bottom-right-radius: 30px; }

.flex {
  display: flex;
  justify-content: center; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

#_2021 {
  border: 1px dashed #fff;
  width: 290px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  #_2021 h3 {
    line-height: normal;
    margin-top: -15px; }

section {
  margin-top: 20px; }

nav {
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  padding: 1rem 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row; }
  nav .drop_down ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row; }
    nav .drop_down ul li {
      margin: 0 20px; }
      nav .drop_down ul li a {
        letter-spacing: 1.5px;
        font-weight: 400; }
  nav .burger {
    width: 25px;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    display: none; }
    nav .burger span {
      width: 100%;
      height: 2px;
      background-color: #212629; }
  @media (max-width: 1000px) {
    nav {
      border: 1px solid red;
      justify-content: center; }
      nav .burger {
        position: absolute;
        right: 30px;
        display: flex;
        cursor: pointer; }
      nav .drop_down {
        display: none; } }

footer {
  background-color: #212629;
  padding: 100px 0;
  color: #fff; }
  footer .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; }
    footer .container article {
      flex: 0 0 25%;
      width: 25%;
      border-right: 1px solid #fff;
      padding: 30px 0;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row; }
      footer .container article .logo {
        display: block;
        width: 65%; }
        footer .container article .logo img {
          display: block;
          width: 100%;
          min-width: 150px; }
      footer .container article .socials {
        margin-top: 1.2rem;
        width: 45%;
        min-width: 135px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row; }
        footer .container article .socials a {
          z-index: 10;
          cursor: pointer; }
          footer .container article .socials a:hover svg path {
            fill: #fff;
            transition: 0.3s all ease; }
      footer .container article ul li {
        margin-bottom: 0.4rem; }
        footer .container article ul li a {
          color: #fff;
          letter-spacing: 1.2px; }
          footer .container article ul li a:hover {
            color: #ea2a00; }
        footer .container article ul li:last-child {
          margin-bottom: 0; }
      footer .container article address {
        font-style: normal;
        min-width: 175px;
        margin-bottom: 1rem; }
        footer .container article address p {
          letter-spacing: 1px; }
      footer .container article .contact {
        min-width: 175px; }
        footer .container article .contact a {
          color: #fff;
          display: block;
          cursor: pointer; }
          footer .container article .contact a:hover {
            color: #ea2a00; }
      footer .container article:first-child {
        flex-direction: column;
        align-items: flex-start; }
      footer .container article:nth-child(2) {
        flex-direction: column; }
      footer .container article:last-child {
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row; }
        footer .container article:last-child .copyRight {
          flex: 0 0 240px;
          width: 240px;
          letter-spacing: 1.3px; }
          footer .container article:last-child .copyRight p:first-child {
            margin-bottom: 1.2rem; }
            footer .container article:last-child .copyRight p:first-child span {
              color: #ea2a00; }
  @media (max-width: 1200px) {
    footer .container {
      justify-content: center; }
      footer .container article:nth-child(1) {
        flex: 0 0 100%;
        border-right: none; }
        footer .container article:nth-child(1) .logo {
          width: 40%;
          min-width: 250px;
          margin: 0 auto;
          height: 72px; }
        footer .container article:nth-child(1) .socials {
          width: 40%;
          min-width: 250px;
          margin: 20px auto 0 auto;
          justify-content: flex-start; }
          footer .container article:nth-child(1) .socials a {
            margin-right: 20px; }
      footer .container article:nth-child(3) {
        border: none; }
      footer .container article:last-child {
        flex: 0 0 100%;
        width: 100%; }
        footer .container article:last-child .copyRight {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          flex-direction: row;
          flex: 0 0 100%;
          width: 100%; }
          footer .container article:last-child .copyRight p:first-child {
            margin-bottom: 0;
            margin-right: 10px; } }
  @media (max-width: 768px) {
    footer .container {
      align-items: center; }
      footer .container article {
        flex: 0 0 50%;
        width: 50%;
        border-right: none; }
        footer .container article ul {
          margin: 0 auto;
          transform: translateX(-30%); }
        footer .container article:first-child {
          flex: 0 0 50%;
          width: 50%; }
        footer .container article:last-child {
          flex: 0 0 50%;
          width: 50%; }
        footer .container article:nth-child(3) {
          flex: 0 0 50%;
          width: 50%;
          order: 4; }
        footer .container article:nth-child(4) {
          flex: 0 0 50%;
          width: 50%;
          order: 3; }
          footer .container article:nth-child(4) .copyRight {
            flex-direction: column;
            align-items: flex-start;
            flex: 0 0 240px;
            width: 240px;
            text-align: left; } }
  @media (max-width: 500px) {
    footer .container {
      flex-direction: column; }
      footer .container article {
        flex: 0 0 100%;
        width: 100%;
        padding: 20px; }
        footer .container article:nth-child(1) .socials {
          margin-top: 0; }
        footer .container article:nth-child(2) {
          order: 3; }
        footer .container article:nth-child(4) {
          order: 2; }
        footer .container article:nth-child(4) {
          order: 4; } }

header {
  position: relative;
  height: 100vh;
  background: url(/assets/main/header_bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden; }
  header hgroup {
    position: relative; }
    header hgroup h1 {
      position: relative;
      display: block;
      font-size: 9rem;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.81;
      z-index: 10; }
    header hgroup .strelica {
      position: absolute;
      left: 50%;
      top: 103.2%;
      max-height: 220px;
      transform: translateX(-50%) translateY(0); }
      header hgroup .strelica img {
        height: 100%;
        display: block; }
    header hgroup .medalje {
      position: absolute;
      left: -140px;
      z-index: 0;
      top: 90%; }
      header hgroup .medalje .aps_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: -33px;
        margin-left: -97px; }
        header hgroup .medalje .aps_content h2 {
          font-size: 4.5rem;
          position: relative; }
          header hgroup .medalje .aps_content h2 img.full {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 135px; }
          header hgroup .medalje .aps_content h2 img.semiCircle {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 135px; }
        header hgroup .medalje .aps_content .content_text {
          margin-left: 30px; }
          header hgroup .medalje .aps_content .content_text p:nth-child(1) {
            font-size: 1.5rem;
            line-height: 1; }
  header .accentBox {
    background: #ea2a00;
    padding: 35px 60px;
    position: absolute;
    right: 0; }
    header .accentBox p,
    header .accentBox h2:nth-child(2) {
      color: #fff; }
    header .accentBox p {
      font-size: 1.3rem;
      letter-spacing: 2px; }
    header .accentBox h2:nth-child(2) {
      font-size: 1.6rem;
      font-family: "Playfair Display", serif; }
    header .accentBox .aps {
      position: absolute;
      font-size: 7.6rem;
      top: -115px;
      right: 135px; }
  header .accentCircle {
    display: none; }
  header ._950 {
    position: absolute;
    left: 30px;
    top: 53%; }
    header ._950 .aps_wrapper {
      position: relative; }
      header ._950 .aps_wrapper h2 {
        font-size: 15rem;
        position: absolute;
        top: -18rem;
        left: -3.6rem;
        z-index: 2; }
      header ._950 .aps_wrapper .aps_content {
        position: absolute;
        top: 90%;
        transform: translateY(-55%);
        left: 50px;
        width: 300px; }
        header ._950 .aps_wrapper .aps_content p {
          font-size: 1.3rem; }
  header .doted_line {
    position: absolute;
    top: 42%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden; }
    header .doted_line span {
      display: block;
      flex: 0 0 6px;
      height: 2px;
      background: #ea2a00;
      margin: 0 3px; }
  @media (max-width: 1538px) {
    header hgroup h1 {
      font-size: 8.4rem; }
    header hgroup .medalje {
      left: -85px; }
      header hgroup .medalje .aps_wrapper img {
        width: 170px; }
      header hgroup .medalje .aps_wrapper .aps_content {
        margin-top: -30px;
        margin-left: -40px; }
        header hgroup .medalje .aps_wrapper .aps_content h2 {
          font-size: 4rem; }
        header hgroup .medalje .aps_wrapper .aps_content img {
          width: 110px; }
        header hgroup .medalje .aps_wrapper .aps_content .content_text p:nth-child(1) {
          font-size: 1.3rem; }
    header ._950 {
      top: 47%; }
      header ._950 .aps_wrapper h2 {
        font-size: 11rem;
        top: -13rem; }
      header ._950 .aps_wrapper .aps_content p {
        font-size: 1rem; } }
  header .accentBox {
    padding: 30px 50px; }
    header .accentBox .aps {
      font-size: 6rem;
      top: -90px; }
    header .accentBox h2:nth-child(2) {
      font-size: 1.5rem; }
    header .accentBox p {
      font-size: 1rem; }
  @media (max-width: 1155px) {
    header hgroup {
      margin-top: -15%; }
      header hgroup h1 {
        font-size: 8rem; }
      header hgroup .medalje {
        left: -89px;
        top: 100%; }
    header .doted_line {
      top: 33%; }
    header ._950 {
      top: 37%; }
    header .accentBox {
      margin-top: 25%; } }
  @media (max-width: 950px) {
    header {
      min-height: 696px; }
      header hgroup {
        margin-top: -25%; }
        header hgroup h1 {
          font-size: 6.5rem; }
        header hgroup .medalje {
          left: -95px;
          top: 100%; }
      header .doted_line {
        top: 28%; }
      header ._950 {
        top: 30%; }
        header ._950 .aps_wrapper h2 {
          top: -10.4rem;
          font-size: 9rem;
          left: -2.9rem; }
        header ._950 .aps_wrapper .aps_content {
          width: 220px; }
      header .accentBox {
        margin-top: 35%; } }
  @media (max-width: 768px) {
    header {
      height: 1100px;
      position: relative; }
      header ._950 {
        position: absolute;
        top: 5%;
        left: 30px; }
        header ._950 .aps_wrapper {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center; }
          header ._950 .aps_wrapper h2 {
            position: relative;
            font-size: 7rem;
            left: unset;
            top: unset;
            flex: 0 0 50%;
            width: 50%;
            line-height: 1; }
          header ._950 .aps_wrapper img {
            display: none; }
          header ._950 .aps_wrapper .aps_content {
            position: static;
            top: unset;
            left: unset;
            flex: 0 0 200px;
            width: 200px;
            padding-left: 10px;
            transform: translateY(0); }
            header ._950 .aps_wrapper .aps_content p:nth-child(1) {
              font-size: 2rem; }
            header ._950 .aps_wrapper .aps_content::before {
              content: "";
              display: block;
              position: absolute;
              height: 2px;
              width: 35%;
              top: 64%;
              right: 95%;
              background-color: #ea2a00; }
      header hgroup {
        margin-top: 20%; }
        header hgroup h1 {
          font-size: 22vw; }
        header hgroup .medalje {
          left: -20px;
          transform: translateY(100%);
          top: unset;
          bottom: -45%; }
          header hgroup .medalje .aps_wrapper img.ugao {
            display: none; }
          header hgroup .medalje .aps_wrapper .aps_content {
            flex-direction: column; }
            header hgroup .medalje .aps_wrapper .aps_content h2 {
              font-size: 4.6rem;
              line-height: 1.2; }
              header hgroup .medalje .aps_wrapper .aps_content h2 img.full {
                display: none; }
              header hgroup .medalje .aps_wrapper .aps_content h2 img.semiCircle {
                display: block;
                width: 140px;
                height: 140px;
                top: 50%; }
        header hgroup .strelica {
          max-height: 400px;
          top: 52%;
          left: 50.8%;
          width: 2px;
          background-color: #ea2a00; }
          header hgroup .strelica img {
            display: none; }
          header hgroup .strelica::after {
            content: "";
            display: block;
            border-bottom: 2px solid red;
            border-right: 2px solid red;
            height: 12px;
            width: 12px;
            position: absolute;
            bottom: 0px;
            left: -6px;
            transform: rotate(45deg); }
      header .doted_line {
        display: none; }
      header .accentBox {
        position: absolute;
        padding: 20px 20px;
        margin-top: 0;
        top: 30%;
        z-index: 10; }
        header .accentBox .aps {
          left: 15px;
          top: -100px; }
        header .accentBox h2:nth-child(2) {
          font-size: 1.8rem; }
        header .accentBox p {
          font-size: 1.2rem; }
      header .accentCircle {
        position: absolute;
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px dashed #212629;
        top: 17%;
        right: -50px; }
        header .accentCircle::after {
          display: block;
          content: "";
          position: absolute;
          width: 3px;
          height: 60%;
          background-color: #ea2a00;
          left: 50%;
          transform: translateX(-50%);
          top: -30%; } }

.timeline {
  background: linear-gradient(rgba(33, 38, 41, 0.6), rgba(33, 38, 41, 0.6)), url(/assets/timeLine/timeLIneBg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 775px; }
  .timeline .tl_wrapper {
    position: relative;
    border: 1px solid red;
    height: 100%; }
    .timeline .tl_wrapper #line1 {
      position: absolute; }
    .timeline .tl_wrapper .tlHead {
      position: absolute;
      width: 55%;
      min-width: 320px;
      left: 50%;
      top: 0;
      transform: translateX(-50%); }
      .timeline .tl_wrapper .tlHead img {
        width: 100%;
        display: block; }
    .timeline .tl_wrapper .tl_circle {
      position: absolute;
      bottom: 0;
      left: 0; }
      .timeline .tl_wrapper .tl_circle img {
        display: block;
        width: 100%; }
    .timeline .tl_wrapper .container {
      height: 100%;
      border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center; }
      .timeline .tl_wrapper .container .left_side {
        border: 1px solid green;
        flex: 0 0 50%;
        height: 100%;
        width: 50%;
        position: relative; }
      .timeline .tl_wrapper .container .right_side {
        flex: 0 0 50%;
        width: 50%;
        border: 1px solid blue;
        height: 100%;
        position: relative; }
      .timeline .tl_wrapper .container .tlYear {
        position: absolute; }
        .timeline .tl_wrapper .container .tlYear h3,
        .timeline .tl_wrapper .container .tlYear p {
          position: relative;
          color: #fff;
          line-height: 1;
          z-index: 2;
          letter-spacing: 2px; }
        .timeline .tl_wrapper .container .tlYear h3 {
          line-height: 0.8;
          letter-spacing: -6px; }
        .timeline .tl_wrapper .container .tlYear span {
          z-index: 1; }
        .timeline .tl_wrapper .container .tlYear#_2012 {
          bottom: 30%;
          transform: translateY(-50%); }
      .timeline .tl_wrapper .container .lines {
        position: absolute; }

.divizije {
  background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(255, 255, 255, 0.274)), url(../assets/divizje/divizije_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; }
  .divizije .container .div_hg {
    border: 1px solid green;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row; }
    .divizije .container .div_hg p {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      letter-spacing: 1.3px; }
    .divizije .container .div_hg > h2 {
      text-align: center;
      color: #fff;
      font-size: 12vw;
      transform: translateY(-20%);
      border: 1px solid blue; }
    .divizije .container .div_hg .divi_content p {
      max-width: 372px; }
    .divizije .container .div_hg .divi_content:nth-child(1) {
      border: 1px solid red;
      transform: translateY(-35%);
      z-index: 2; }
      .divizije .container .div_hg .divi_content:nth-child(1) #line_cont1,
      .divizije .container .div_hg .divi_content:nth-child(1) #line_cont2 {
        position: absolute;
        height: 2px;
        border-top: 2px dashed #ea2a00;
        display: block;
        z-index: 1; }
      .divizije .container .div_hg .divi_content:nth-child(1) #line_cont1 {
        width: 400px;
        top: 10px;
        right: 100%; }
      .divizije .container .div_hg .divi_content:nth-child(1) #line_cont2 {
        bottom: 10px;
        left: 45%;
        width: 400px; }
    .divizije .container .div_hg .divi_content:nth-child(3) {
      right: 0;
      transform: translateY(30%);
      border: 1px solid green; }
      .divizije .container .div_hg .divi_content:nth-child(3) .cite {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin-left: 10%;
        margin-top: 20px;
        position: relative; }
        .divizije .container .div_hg .divi_content:nth-child(3) .cite::before {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: -10%;
          height: 2px;
          width: 8%;
          background-color: #ea2a00; }

/*# sourceMappingURL=style.css.map */
