* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: $fnt_size;
	font-family: $fnt_text;
	overflow-x: hidden;
	background-color: $body_bg;
}
a {
	text-decoration: none;
	color: $clr_fnt_dark;
	font-size: 1rem;
	cursor: pointer;
}
ul {
	list-style: none;
	list-style-position: inside;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fnt_headline;
	color: $clr_fnt_dark;
	text-transform: uppercase;
	font-weight: 200;
}

#default {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-width: 320px;
	z-index: -1;
	// border: 3px solid red;
	.def_container {
		// border: 1px solid green;
		height: 100%;
		width: 1500px;
		@media (max-width: 1500px) {
			width: calc(1500px * 0.8);
		}
		@media (max-width: 1200px) {
			width: calc(1200px * 0.8);
		}
		@media (max-width: 960px) {
			width: calc(960px * 0.8);
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
// BUTTONI
.btn {
	font-family: $fnt_headline;
	text-transform: uppercase;
	color: $white;

	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	&.btn_slider {
		background: $clr_accents;
	}
}
.container-fluid {
	width: 80%;
	max-width: 1550px;
	margin: 0 auto;
	min-width: 350px;
}

.container {
	width: 1550px;
	min-width: 320px;
	margin: 0 auto;

	// border: 1px solid red;
	@media (max-width: 1550px) {
		width: calc(1550px * 0.8);
	}
	@media (max-width: 1240px) {
		width: calc(1240px * 0.8);
	}
	@media (max-width: 990px) {
		width: calc(990px * 0.8);
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}
.border {
	border: 1px solid red;
}

.border_right {
	border-right: 2px dashed $clr_accents;
}
.border_top {
	border-top: 2px dashed $clr_accents;
}
.border_left {
	border-left: 2px dashed $clr_accents;
}
.border_bottom {
	border-bottom: 2px dashed $clr_accents;
}
.br_r_t_r {
	border-top-right-radius: 20px;
}
.br_r_t_l {
	border-top-left-radius: 20px;
}
.br_r_b_l {
	border-bottom-left-radius: 20px;
}
.br_r_b_r {
	border-bottom-right-radius: 20px;
}

.flex {
	display: flex;

	justify-content: center;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.text_left {
	text-align: left;
}
.text_right {
	text-align: right;
}
#_2021 {
	border: 1px dashed $white;
	width: 235px;
	height: 235px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	@media (max-width: 1550px) {
		width: 210px;
		height: 210px;
	}
}

section {
	margin-top: 20px;
}

.owl-theme {
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		width: calc(100% + 100px);
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 0;
		button[class*="owl-"] {
			height: 45px;
			width: 42px;
			margin: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	@media (max-width: 420px) {
		.owl-nav {
			// bottom: 0;
			top: unset;
			bottom: -60px;
			transform: translate(-50%, 0%);
			width: 100%;
		}
	}
}
