@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Yellowtail&display=swap");

@import "variables";
@import "mixins";
@import "general";
@import "navbar";

// HEADER
header {
	position: relative;
	height: 100vh;
	background: url(/assets/main/header_bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	@include flex(center, center, nowrap, row);
	overflow-x: hidden;
	hgroup {
		position: relative;
		// border: 1px solid red;
		h1 {
			position: relative;
			display: block;
			// @include fluid-type(320px, 1920px, 100px, 160px);
			font-size: 9rem;
			font-weight: 200;
			text-transform: uppercase;
			text-align: center;
			line-height: 0.81;
			z-index: 10;
		}
		.strelica {
			position: absolute;
			// border: 1px solid red;
			left: 50%;
			top: 103.2%;
			max-height: 220px;
			transform: translateX(-50%) translateY(0);
			img {
				height: 100%;
				display: block;
			}
		}
		.medalje {
			position: absolute;
			left: -140px;
			z-index: 0;
			top: 90%;

			.aps_content {
				@include flex(center, center, nowrap, row);
				// border: 1px solid red;
				margin-top: -33px;
				margin-left: -97px;
				h2 {
					font-size: 4.5rem;
					position: relative;
					// border: 1px solid red;
					img.full {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 135px;
					}
					img.semiCircle {
						display: none;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 135px;
					}
				}

				.content_text {
					margin-left: 30px;
					p:nth-child(1) {
						font-size: 1.5rem;
						line-height: 1;
					}
				}
			}
		}
	}
	.accentBox {
		background: $clr_accents;
		padding: 35px 60px;
		position: absolute;
		// border: 2px solid green;
		right: 0;
		p,
		h2:nth-child(2) {
			color: $white;
		}
		p {
			font-size: 1.3rem;
			letter-spacing: 2px;
		}
		h2:nth-child(2) {
			font-size: 1.6rem;
			font-family: $fnt_text;
		}
		.aps {
			position: absolute;
			font-size: 7.6rem;
			top: -115px;
			right: 135px;
		}
	}
	.accentCircle {
		display: none;
	}
	._950 {
		// border: 1px solid red;
		position: absolute;
		left: 30px;
		top: 53%;
		.aps_wrapper {
			position: relative;
			h2 {
				font-size: 15rem;
				position: absolute;
				top: -18rem;
				left: -3.6rem;
				z-index: 2;
			}

			.aps_content {
				position: absolute;
				top: 90%;
				transform: translateY(-55%);
				left: 50px;
				// border: 1px solid red;
				width: 300px;
				p {
					font-size: 1.3rem;
				}
			}
		}
	}
	.doted_line {
		position: absolute;
		// left: 302px;
		top: 42%;
		// width: 20vw;
		// border: 1px solid red;
		z-index: 1;
		@include flex(center, center, nowrap, row);
		overflow: hidden;

		span {
			display: block;
			flex: 0 0 6px;

			height: 2px;
			background: $clr_accents;
			margin: 0 3px;
		}
	}
	@media (max-width: 1538px) {
		hgroup {
			h1 {
				font-size: 8.4rem;
			}
			.medalje {
				left: -85px;
				.aps_wrapper {
					img {
						width: 170px;
					}
					.aps_content {
						margin-top: -30px;
						margin-left: -40px;
						h2 {
							font-size: 4rem;
						}
						img {
							width: 110px;
						}
						.content_text {
							p:nth-child(1) {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
		._950 {
			top: 47%;
			.aps_wrapper {
				h2 {
					font-size: 11rem;
					top: -13rem;
				}
				.aps_content {
					p {
						font-size: 1rem;
					}
				}
			}
		}
	}
	.accentBox {
		padding: 30px 50px;
		.aps {
			font-size: 6rem;
			top: -90px;
		}
		h2:nth-child(2) {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
		}
	}

	@media (max-width: 1155px) {
		hgroup {
			margin-top: -15%;
			h1 {
				font-size: 8rem;
			}
			.medalje {
				left: -89px;
				top: 100%;
			}
		}
		.doted_line {
			top: 33%;
		}
		._950 {
			top: 37%;
		}
		.accentBox {
			margin-top: 25%;
		}
	}
	@media (max-width: 950px) {
		min-height: 696px;
		hgroup {
			margin-top: -25%;
			h1 {
				font-size: 6.5rem;
			}
			.medalje {
				left: -95px;
				top: 100%;
			}
		}
		.doted_line {
			top: 28%;
		}

		._950 {
			top: 30%;
			// border: 1px solid red;
			.aps_wrapper {
				h2 {
					top: -10.4rem;
					font-size: 9rem;
					left: -2.9rem;
				}
				.aps_content {
					width: 220px;
				}
			}
		}
		.accentBox {
			margin-top: 35%;
		}
	}
	@media (max-width: 768px) {
		height: 1100px;
		position: relative;
		._950 {
			position: absolute;
			top: 5%;
			// border: 1px solid red;
			// border: 1px solid red;
			left: 30px;

			.aps_wrapper {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				h2 {
					position: relative;
					font-size: 7rem;
					left: unset;
					top: unset;
					flex: 0 0 50%;
					width: 50%;
					line-height: 1;
				}
				img {
					display: none;
				}
				.aps_content {
					position: static;
					top: unset;
					left: unset;
					flex: 0 0 200px;
					width: 200px;
					padding-left: 10px;
					transform: translateY(0);
					// border: 1px solid red;

					p:nth-child(1) {
						font-size: 2rem;
					}
					&::before {
						content: "";
						display: block;
						position: absolute;
						height: 2px;
						width: 35%;
						top: 64%;
						right: 95%;
						background-color: $clr_accents;
					}
				}
			}
		}

		hgroup {
			margin-top: 20%;
			h1 {
				font-size: 22vw;
			}
			.medalje {
				left: -20px;
				transform: translateY(100%);
				top: unset;
				bottom: -45%;
				.aps_wrapper {
					img.ugao {
						display: none;
					}
					.aps_content {
						flex-direction: column;
						h2 {
							font-size: 4.6rem;
							line-height: 1.2;
							img.full {
								display: none;
							}
							img.semiCircle {
								display: block;
								width: 140px;
								height: 140px;
								top: 50%;
							}
						}
					}
				}
			}
			.strelica {
				max-height: 400px;
				top: 52%;
				left: 50.8%;
				width: 2px;
				background-color: $clr_accents;
				img {
					display: none;
				}
				&::after {
					content: "";
					display: block;
					border-bottom: 2px solid red;
					border-right: 2px solid red;
					height: 12px;
					width: 12px;
					position: absolute;
					bottom: 0px;
					left: -6px;
					transform: rotate(45deg);
				}
			}
		}
		.doted_line {
			display: none;
		}
		.accentBox {
			position: absolute;

			padding: 20px 20px;
			margin-top: 0;
			top: 30%;
			z-index: 10;
			.aps {
				left: 15px;
				top: -100px;
			}
			h2:nth-child(2) {
				font-size: 1.8rem;
			}
			p {
				font-size: 1.2rem;
			}
		}
		.accentCircle {
			position: absolute;
			display: block;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 2px dashed $clr_fnt_dark;

			top: 17%;
			right: -50px;
			&::after {
				display: block;
				content: "";
				position: absolute;
				width: 3px;
				height: 60%;
				background-color: $clr_accents;
				left: 50%;
				transform: translateX(-50%);
				top: -30%;
			}
		}
	}
}
// VIDEO SECTION

.video {
	.video_wrapper {
		position: relative;
		background: $clr_fnt_dark;
		video {
			width: 100%;
			height: 700px;
			object-fit: cover;
			object-position: center;
			display: block;
			opacity: 0.4;
			transition: 0.5s all ease-in-out;
			&.playing {
				opacity: 1;
			}
		}
		.video_controls {
			width: 670px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			// width: 60%;
			// max-width: 1000px;
			// height: 300px;

			@include flex(center, flex-start, wrap, row);
			h2,
			p {
				color: $white;

				transition: $trnasition-out;
			}
			h2 {
				font-size: 10rem;
			}
			h2:first-of-type {
				line-height: 1;
				flex: 0 0 100%;
			}
			h2:last-of-type {
				line-height: 1;
				flex: 0 0 40%;
				// border: 1px solid red;
				margin-top: -32px;
			}
			.control_border {
				height: 120px;
				width: 120px;
				flex: 0 0 120px;
				border-radius: 50%;
				background: rgba($clr_fnt_dark, 0.5);
				margin: 0 15px;
				border: 6px solid transparent;
				transition: $trnasition-out;
				cursor: pointer;
				.inner_border {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 2px solid $clr_accents;
					position: relative;
					& > img {
						position: absolute;

						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				&:hover {
					transform: scale(1.1);
					transition: $trnasition-in;
				}
			}
			p {
				flex: 0 0 25%;
				min-width: 175px;
				line-height: 1.5;
			}
			transition: 0.4s all ease-in-out;
			&.playing_v {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
	@media (max-width: 768px) {
		.video_wrapper {
			.video {
			}
			.video_controls {
				width: 530px;
				h2 {
					font-size: 7rem;
				}
				.control_border {
					width: 100px;
					height: 100px;
					flex: 0 0 100px;
				}
				p {
					font-size: 0.9rem;
					min-width: 160px;
				}
			}
		}
	}
	@media (max-width: 550px) {
		.video_wrapper {
			.video {
			}
			.video_controls {
				width: 450px;
				justify-content: center;
				h2 {
					font-size: 4.7rem;
				}
				h2:first-of-type {
					text-align: center;
					flex: unset;
				}
				h2:last-of-type {
					margin-top: -22px;
				}
				.control_border {
					width: 90px;
					height: 90px;
					flex: 0 0 90px;
					transform: translateY(40%);
					margin: 0;
					img {
						width: 50%;
						display: block;
					}
					&:hover {
						transform: scale(1.1) translateY(33%);
					}
				}
				p {
					display: none;
				}
			}
		}
	}
	@media (max-width: 430px) {
		.video_wrapper {
			.video {
			}
			.video_controls {
				width: 450px;
				justify-content: center;
				flex-direction: column;
				h2 {
					font-size: 4.7rem;
				}
				h2:first-of-type {
					text-align: center;
					flex: unset;
				}
				h2:last-of-type {
					margin-top: -14px;
					order: 2;
				}
				.control_border {
					order: 3;
					width: 90px;
					height: 90px;
					flex: 0 0 90px;
					transform: translateY(0%);
					margin: 0;
					img {
						width: 50%;
						display: block;
					}
					&:hover {
						transform: scale(1.1) translateY(0%);
					}
				}
				p {
					display: block;
					order: 4;
					width: 175px;
					text-align: center;
				}
			}
		}
	}
}

// TIMELINE

.timeline {
	background: linear-gradient(
			rgba($clr_fnt_dark, 0.6),
			rgba($clr_fnt_dark, 0.6)
		),
		url(/assets/timeLine/timeLIneBg.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 875px;
	.tl_wrapper {
		position: relative;

		height: 100%;
		#line1 {
			position: absolute;
		}
		.tlHead {
			position: absolute;
			width: 55%;
			min-width: 320px;
			left: 50%;
			top: 0;
			transform: translateX(-50%);

			img {
				width: 100%;
				display: block;
			}
		}
		.tl_circle {
			position: absolute;
			bottom: 0;
			left: 0;
			img {
				display: block;
				width: 100%;
			}
		}
		.container {
			height: 100%;
			border: 1px solid red;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			// .left_side {
			// 	border: 1px solid green;
			// 	flex: 0 0 50%;
			// 	height: 100%;
			// 	width: 50%;
			// 	position: relative;
			// }
			// .right_side {
			// 	flex: 0 0 50%;
			// 	width: 50%;
			// 	border: 1px solid blue;
			// 	height: 100%;
			// 	position: relative;
			// }
			.tl-year {
				position: absolute;
				cursor: pointer;

				h3,
				p {
					position: relative;
					color: $white;
					line-height: 1;
					z-index: 2;
					letter-spacing: 2px;
					transition: $trnasition-out;
					&.hover {
						color: $clr_accents;
					}
				}
				h3 {
					line-height: 0.8;
					z-index: 3;
					letter-spacing: -6px;
					.lines {
						position: absolute;
						z-index: 3;
						&#_1 {
							height: 120px;
							width: 90px;
							top: 32px;
							left: 100%;
						}
						&#_2 {
							height: 165px;
							width: 100px;
							right: 94%;
							top: 50%;
						}
						&#_3 {
							width: 180px;
							height: 1px;
							top: 25px;
							left: 100%;
						}
						&#_4 {
							width: 55px;
							height: 262px;
							bottom: 97%;
							left: 65%;
						}
						&#_5 {
							height: 508px;
							width: 48px;
							top: 110%;
							right: 35%;
						}
						// &#_6 {
						// 	height: 295px;
						// 	width: 275px;
						// 	right: 55%;
						// 	top: 110%;
						// 	.add {
						// 		height: 40px;
						// 		width: 100%;
						// 		position: absolute;
						// 		bottom: 0;
						// 		left: 0;
						// 	}
						// 	.add_2 {
						// 		height: calc(100% - 40px);
						// 		width: 50px;
						// 		position: absolute;
						// 		right: 0;
						// 	}
						// }

						&#_7 {
							width: 10px;
							height: 140px;
							bottom: 98%;
							left: 10px;
						}
						&#_8 {
							width: 40px;
							height: 342px;
							top: 107%;
							left: 25px;
						}
						&#_9 {
							width: 65px;
							height: 255px;
							bottom: 100%;
							left: 15px;
						}
						&#_10 {
							width: 35px;
							height: 140px;
							right: 85%;
							top: calc(100% + 8px);
						}
						&#_11 {
							width: 1px;
							height: 245px;
							bottom: 97%;
							left: 42%;
						}
					}
				}
				.lines {
					pointer-events: none;
					position: absolute;
					&#_6 {
						height: 295px;
						width: 275px;
						right: 55%;
						top: 110%;
						.add {
							height: 40px;
							width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
						}
						.add_2 {
							height: calc(100% - 40px);
							width: 50px;
							position: absolute;
							right: 0;
						}
					}
				}
				span {
					z-index: 1;
				}
			}
		}
	}

	// TIME LINE RESPONSIVE
	@media (max-width: 1550px) {
		.tl_wrapper {
			.container {
				.tl-year {
					h3 {
						.lines {
							&#_1 {
								left: 90%;
								top: 28px;
								height: 135px;
							}
							&#_2 {
								height: 188px;
							}
							&#_3 {
								top: 20px;
								width: 140px;
							}
							&#_4 {
								height: 292px;
								width: 52px;
								left: 63%;
							}
							&#_5 {
								height: 560px;
							}
							&#_7 {
								height: 185px;
								left: 5px;
							}
							&#_8 {
								height: 395px;
								left: 15px;
							}
							&#_9 {
								height: 295px;
								width: 50px;
								left: 8px;
							}
							&#_10 {
								height: 180px;
								right: 80%;
							}
							&#_11 {
								height: 310px;
								border-top: 2px dashed $clr_accents;
								width: 50px;
								border-top-right-radius: 20px;
								left: 40%;
							}
						}
					}
					.lines {
						pointer-events: none;
						position: absolute;
						&#_6 {
							height: 325px;
							width: 215px;
							.add {
							}
							.add_2 {
							}
						}
					}
				}
			}
		}
	}
}

.divizije {
	background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(255, 255, 255, 0.274)),
		url(../assets/divizje/divizije_bg.jpg);
	background-position: center;
	background-size: cover;
	// height: 100vh;
	padding-bottom: 50px;
	.container-fluid {
		.div_hg {
			color: $white;
			position: relative;
			@include flex(center, space-between, nowrap, row);
			p {
				font-family: $fnt_headline;
				font-weight: 300;
				letter-spacing: 1.3px;
			}
			& > h2 {
				text-align: center;
				color: $white;
				font-size: 12vw;
				transform: translateY(-20%);
			}
			.divi_content {
				p {
					max-width: 372px;
					#ref1 {
						position: relative;

						#ref1Line {
							display: block;
							position: absolute;
							width: 200px;
							height: 2px;
							border-top: 2px dashed $clr_accents;
							top: 50%;
							transform: translateY(-50%);
							left: calc(100% + 4px);
						}
					}
					#ref4 {
						position: relative;
						#ref4Line {
							display: block;
							position: absolute;

							// width: 60px;
							height: 2px;
							border-top: 2px dashed $clr_accents;
							top: 50%;
							transform: translateY(-50%);
							right: calc(100% + 4px);
						}
					}
				}
			}
			.divi_content:nth-child(1) {
				transform: translateY(-35%);
			}
			.divi_content:nth-child(3) {
				right: 0;
				transform: translateY(30%);

				.cite {
					font-size: 1.3rem;
					text-transform: uppercase;
					margin-left: 10%;
					margin-top: 20px;
					position: relative;
					&::before {
						display: block;
						content: "";
						position: absolute;
						top: 50%;
						left: -10%;
						height: 2px;
						width: 8%;
						background-color: $clr_accents;
					}
				}
			}
		}
		// DIVI SLIDER
	}
	.divi_slider {
		width: 90%;
		margin: 80px auto;
		.owl-carousel {
			.item {
				text-align: center;
				position: relative;

				img {
					width: 100%;

					display: block;

					z-index: 0;
				}
				.btn {
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				.slider_content {
					position: absolute;
					z-index: 1;
					bottom: 0;
					width: 100%;
					height: 155px;
					padding: 20px 30px;
					background: rgba($black, 0.6);
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					color: $white;
					h3 {
						color: $white;
						text-transform: capitalize;
						font-size: 1.5rem;
						margin-bottom: 10px;
						font-family: $accent_fnt;
					}
					p {
						font-size: 0.9rem;
						letter-spacing: 1px;
					}
				}
			}
			@media (max-width: 1076px) {
				.item {
					height: 400px;
					width: 400px;
					img {
					}
				}
			}
		}
	}

	// DIV RESPONSIVE
	@media (max-width: 1338px) {
		.container-fluid {
			.div_hg {
				& > h2 {
					transform: translateY(-10%);
				}
				.divi_content {
					&:nth-child(1) {
						transform: translateY(-25%);
					}
					&:nth-child(3) {
						transform: translateY(37%);
					}
				}
			}
		}
	}
	@media (max-width: 1200px) {
		.container-fluid {
			.div_hg {
				h2 {
					transform: translateY(0);
				}
				.divi_content {
					p {
						font-size: 0.85rem;
					}
					&:nth-child(1) {
						transform: translateY(10%);
					}
					&:nth-child(3) {
						transform: translateY(65%);
						.cite {
							font-size: 0.9rem;
						}
					}
				}
			}
		}
	}
	@media (max-width: 960px) {
		.container-fluid {
			.div_hg {
				flex-wrap: wrap;
				align-items: flex-start;
				h2 {
					transform: translateY(0);
					flex: 0 0 100%;
					width: 100%;
					order: 1;
				}
				.divi_content {
					flex: 0 0 48%;
					width: 48%;

					p {
						font-size: 0.85rem;
					}
					&:nth-child(1) {
						transform: translateY(0);
						#ref1 {
							#ref1Line {
								display: none;
							}
						}
						order: 2;
						padding-left: 20px;
					}
					&:nth-child(3) {
						transform: translateY(0);
						padding-right: 20px;
						order: 3;
						.cite {
							font-size: 0.9rem;
						}
						#ref4 {
							#ref4Line {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
