@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

@import "variables";
@import "mixins";
@import "general";
@import "navbar";

// HEADER
header {
	position: relative;
	height: 100vh;
	background: url(/assets/main/header_bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	@include flex(center, center, nowrap, row);
	overflow-x: hidden;
	hgroup {
		position: relative;
		// border: 1px solid red;
		h1 {
			position: relative;
			display: block;
			// @include fluid-type(320px, 1920px, 100px, 160px);
			font-size: 9rem;
			font-weight: 200;
			text-transform: uppercase;
			text-align: center;
			line-height: 0.81;
			z-index: 10;
		}
		.strelica {
			position: absolute;
			// border: 1px solid red;
			left: 50%;
			top: 103.2%;
			max-height: 220px;
			transform: translateX(-50%) translateY(0);
			img {
				height: 100%;
				display: block;
			}
		}
		.medalje {
			position: absolute;
			left: -140px;
			z-index: 0;
			top: 90%;

			.aps_content {
				@include flex(center, center, nowrap, row);
				// border: 1px solid red;
				margin-top: -33px;
				margin-left: -97px;
				h2 {
					font-size: 4.5rem;
					position: relative;
					// border: 1px solid red;
					img.full {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 135px;
					}
					img.semiCircle {
						display: none;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 135px;
					}
				}

				.content_text {
					margin-left: 30px;
					p:nth-child(1) {
						font-size: 1.5rem;
						line-height: 1;
					}
				}
			}
		}
	}
	.accentBox {
		background: $clr_accents;
		padding: 35px 60px;
		position: absolute;
		// border: 2px solid green;
		right: 0;
		p,
		h2:nth-child(2) {
			color: $white;
		}
		p {
			font-size: 1.3rem;
			letter-spacing: 2px;
		}
		h2:nth-child(2) {
			font-size: 1.6rem;
			font-family: $fnt_text;
		}
		.aps {
			position: absolute;
			font-size: 7.6rem;
			top: -115px;
			right: 135px;
		}
	}
	.accentCircle {
		display: none;
	}
	._950 {
		// border: 1px solid red;
		position: absolute;
		left: 30px;
		top: 53%;
		.aps_wrapper {
			position: relative;
			h2 {
				font-size: 15rem;
				position: absolute;
				top: -18rem;
				left: -3.6rem;
				z-index: 2;
			}

			.aps_content {
				position: absolute;
				top: 90%;
				transform: translateY(-55%);
				left: 50px;
				// border: 1px solid red;
				width: 300px;
				p {
					font-size: 1.3rem;
				}
			}
		}
	}
	.doted_line {
		position: absolute;
		// left: 302px;
		top: 42%;
		// width: 20vw;
		// border: 1px solid red;
		z-index: 1;
		@include flex(center, center, nowrap, row);
		overflow: hidden;

		span {
			display: block;
			flex: 0 0 6px;

			height: 2px;
			background: $clr_accents;
			margin: 0 3px;
		}
	}
	@media (max-width: 1538px) {
		hgroup {
			h1 {
				font-size: 8.4rem;
			}
			.medalje {
				left: -85px;
				.aps_wrapper {
					img {
						width: 170px;
					}
					.aps_content {
						margin-top: -30px;
						margin-left: -40px;
						h2 {
							font-size: 4rem;
						}
						img {
							width: 110px;
						}
						.content_text {
							p:nth-child(1) {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
		._950 {
			top: 47%;
			.aps_wrapper {
				h2 {
					font-size: 11rem;
					top: -13rem;
				}
				.aps_content {
					p {
						font-size: 1rem;
					}
				}
			}
		}
		.doted_line {
			// width: 50vw;
		}
	}
	.accentBox {
		padding: 30px 50px;
		.aps {
			font-size: 6rem;
			top: -90px;
		}
		h2:nth-child(2) {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
		}
	}

	@media (max-width: 1155px) {
		hgroup {
			margin-top: -15%;
			h1 {
				font-size: 8rem;
			}
			.medalje {
				left: -89px;
				top: 100%;
			}
		}
		.doted_line {
			top: 33%;
		}
		._950 {
			top: 37%;
		}
		.accentBox {
			margin-top: 25%;
		}
	}
	@media (max-width: 950px) {
		min-height: 696px;
		hgroup {
			margin-top: -25%;
			h1 {
				font-size: 6.5rem;
			}
			.medalje {
				left: -95px;
				top: 100%;
			}
		}
		.doted_line {
			top: 28%;
		}

		._950 {
			top: 30%;
			// border: 1px solid red;
			.aps_wrapper {
				h2 {
					top: -10.4rem;
					font-size: 9rem;
					left: -2.9rem;
				}
				.aps_content {
					width: 220px;
				}
			}
		}
		.accentBox {
			margin-top: 35%;
		}
	}
	@media (max-width: 768px) {
		height: 1100px;
		position: relative;
		._950 {
			position: absolute;
			top: 5%;
			// border: 1px solid red;
			// border: 1px solid red;
			left: 30px;

			.aps_wrapper {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;

				h2 {
					position: relative;
					font-size: 7rem;
					left: unset;
					top: unset;
					flex: 0 0 50%;
					width: 50%;
					line-height: 1;
				}
				img {
					display: none;
				}
				.aps_content {
					position: static;
					top: unset;
					left: unset;
					flex: 0 0 200px;
					width: 200px;
					padding-left: 10px;
					transform: translateY(0);
					// border: 1px solid red;

					p:nth-child(1) {
						font-size: 2rem;
					}
					&::before {
						content: "";
						display: block;
						position: absolute;
						height: 2px;
						width: 35%;
						top: 64%;
						right: 95%;
						background-color: $clr_accents;
					}
				}
			}
		}

		hgroup {
			margin-top: 20%;
			h1 {
				font-size: 22vw;
			}
			.medalje {
				left: -20px;
				transform: translateY(100%);
				top: unset;
				bottom: -45%;
				.aps_wrapper {
					img.ugao {
						display: none;
					}
					.aps_content {
						flex-direction: column;
						h2 {
							font-size: 4.6rem;
							line-height: 1.2;
							img.full {
								display: none;
							}
							img.semiCircle {
								display: block;
								width: 140px;
								height: 140px;
								top: 50%;
							}
						}
					}
				}
			}
			.strelica {
				max-height: 400px;
				top: 52%;
				left: 50.8%;
				width: 2px;
				background-color: $clr_accents;
				img {
					display: none;
				}
				&::after {
					content: "";
					display: block;
					border-bottom: 2px solid red;
					border-right: 2px solid red;
					height: 12px;
					width: 12px;
					position: absolute;
					bottom: 0px;
					left: -6px;
					transform: rotate(45deg);
				}
			}
		}
		.doted_line {
			display: none;
		}
		.accentBox {
			position: absolute;

			padding: 20px 20px;
			margin-top: 0;
			top: 30%;
			z-index: 10;
			.aps {
				left: 15px;
				top: -100px;
			}
			h2:nth-child(2) {
				font-size: 1.8rem;
			}
			p {
				font-size: 1.2rem;
			}
		}
		.accentCircle {
			position: absolute;
			display: block;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 2px dashed $clr_fnt_dark;

			top: 17%;
			right: -50px;
			&::after {
				display: block;
				content: "";
				position: absolute;
				width: 3px;
				height: 60%;
				background-color: $clr_accents;
				left: 50%;
				transform: translateX(-50%);
				top: -30%;
			}
		}
	}
}

// TIMELINE

.timeline {
	background: linear-gradient(
			rgba($clr_fnt_dark, 0.6),
			rgba($clr_fnt_dark, 0.6)
		),
		url(/assets/timeLine/timeLIneBg.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 775px;
	.tl_wrapper {
		position: relative;
		border: 1px solid red;

		height: 100%;
		#line1 {
			position: absolute;
		}
		.tlHead {
			position: absolute;
			width: 55%;
			min-width: 320px;
			left: 50%;
			top: 0;
			transform: translateX(-50%);

			img {
				width: 100%;
				display: block;
			}
		}
		.tl_circle {
			position: absolute;
			bottom: 0;
			left: 0;
			img {
				display: block;
				width: 100%;
			}
		}
		.container {
			height: 100%;
			border: 1px solid red;
			display: flex;
			align-items: center;
			justify-content: center;
			.left_side {
				border: 1px solid green;
				flex: 0 0 50%;
				height: 100%;
				width: 50%;
				position: relative;
			}
			.right_side {
				flex: 0 0 50%;
				width: 50%;
				border: 1px solid blue;
				height: 100%;
				position: relative;
			}
			.tlYear {
				position: absolute;
				h3,
				p {
					position: relative;
					color: $white;
					line-height: 1;
					z-index: 2;
					letter-spacing: 2px;
				}
				h3 {
					line-height: 0.8;
					// border: 1px solid red;
					letter-spacing: -6px;
				}
				span {
					z-index: 1;
				}
				&#_2012 {
					bottom: 30%;
					transform: translateY(-50%);
				}
			}
			.lines {
				position: absolute;
			}
		}
	}
}

.divizije {
	background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(255, 255, 255, 0.274)),
		url(../assets/divizje/divizije_bg.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	.container {
		.div_hg {
			border: 1px solid green;
			color: $white;
			position: relative;
			@include flex(center, space-between, nowrap, row);
			p {
				font-family: $fnt_headline;
				font-weight: 300;
				letter-spacing: 1.3px;
			}
			& > h2 {
				text-align: center;
				color: $white;
				font-size: 12vw;
				transform: translateY(-20%);

				border: 1px solid blue;
			}
			.divi_content {
				// border: 1px solid red;
				// position: absolute;
				// width: 372px;
				p {
					max-width: 372px;
				}
			}
			.divi_content:nth-child(1) {
				border: 1px solid red;
				transform: translateY(-35%);
				z-index: 2;
				#line_cont1,
				#line_cont2 {
					position: absolute;

					height: 2px;
					border-top: 2px dashed $clr_accents;
					display: block;
					z-index: 1;
				}
				#line_cont1 {
					width: 400px;
					top: 10px;
					right: 100%;
				}
				#line_cont2 {
					bottom: 10px;
					left: 45%;
					width: 400px;
				}
			}
			.divi_content:nth-child(3) {
				right: 0;
				transform: translateY(30%);
				border: 1px solid green;
				.cite {
					font-size: 1.3rem;
					text-transform: uppercase;
					margin-left: 10%;
					margin-top: 20px;
					position: relative;
					&::before {
						display: block;
						content: "";
						position: absolute;
						top: 50%;
						left: -10%;
						height: 2px;
						width: 8%;
						background-color: $clr_accents;
					}
				}
			}
		}
	}
}
