$fnt_headline: "Oswald", sans-serif;
$fnt_text: "Playfair Display", serif;
$fnt_size: 16px;
$clr_accents: #ea2a00;
$clr_fnt_dark: #212629;
$crl_fnt_light: #dcdcdc;
$white: #fff;
$body_bg: #e5e5e5;
$dark_clr: #212629;
