$fnt_headline: "Oswald", sans-serif;
$fnt_text: "Playfair Display", serif;
$accent_fnt: "Yellowtail", cursive;
$fnt_size: 16px;
$clr_accents: #ea2a00;
$clr_fnt_dark: #212629;
$crl_fnt_light: #dcdcdc;
$white: #fff;
$body_bg: #e5e5e5;
$dark_clr: #212629;
$black: black;
$trnasition-in: 0.3s all ease-in-out;
$trnasition-out: 0.2s all ease;
