@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Playfair Display", serif; }

a {
  text-decoration: none;
  color: #212629;
  font-size: 1rem;
  cursor: pointer; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #212629;
  text-transform: uppercase;
  font-weight: 200; }

#default {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 320px;
  z-index: -1; }
  #default .def_container {
    height: 100%;
    width: 1500px; }
    @media (max-width: 1500px) {
      #default .def_container {
        width: calc(1500px * 0.8); } }
    @media (max-width: 1200px) {
      #default .def_container {
        width: calc(1200px * 0.8); } }
    @media (max-width: 960px) {
      #default .def_container {
        width: calc(960px * 0.8); } }
    @media (max-width: 768px) {
      #default .def_container {
        width: 100%; } }

.container {
  width: 1500px;
  min-width: 320px;
  margin: 0 auto; }
  @media (max-width: 1500px) {
    .container {
      width: calc(1500px * 0.8); } }
  @media (max-width: 1200px) {
    .container {
      width: calc(1200px * 0.8); } }
  @media (max-width: 960px) {
    .container {
      width: calc(960px * 0.8); } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

.border_right {
  border-right: 2px dashed #ea2a00; }

.border_top {
  border-top: 2px dashed #ea2a00; }

.border_left {
  border-left: 2px dashed #ea2a00; }

.border_bottom {
  border-bottom: 2px dashed #ea2a00; }

.br_r_t_r {
  border-top-right-radius: 30px; }

.br_r_t_l {
  border-top-left-radius: 30px; }

.br_r_b_l {
  border-bottom-left-radius: 30px; }

.br_r_b_r {
  border-bottom-right-radius: 30px; }

.flex {
  display: flex;
  justify-content: center; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

#_2021 {
  border: 1px dashed #fff;
  width: 290px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  #_2021 h3 {
    line-height: normal;
    margin-top: -15px; }

nav {
  font-family: "Oswald", sans-serif;
  padding: 1rem 11%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row; }
  nav .drop_down ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row; }
    nav .drop_down ul li {
      margin: 0 20px; }
      nav .drop_down ul li a {
        letter-spacing: 1.5px;
        font-weight: 400; }

footer {
  background-color: #212629;
  padding: 100px 0;
  color: #fff; }
  footer .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row; }
    footer .container article {
      flex: 0 0 25%;
      width: 25%;
      border-right: 1px solid #fff;
      padding: 30px 0;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row; }
      footer .container article .logo {
        display: block;
        width: 65%; }
        footer .container article .logo img {
          display: block;
          width: 100%;
          min-width: 150px; }
      footer .container article .socials {
        margin-top: 1.2rem;
        width: 45%;
        min-width: 135px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row; }
        footer .container article .socials a {
          z-index: 10;
          cursor: pointer; }
          footer .container article .socials a:hover svg path {
            fill: #fff;
            transition: 0.3s all ease; }
      footer .container article ul li {
        margin-bottom: 0.4rem; }
        footer .container article ul li a {
          color: #fff;
          letter-spacing: 1.2px; }
          footer .container article ul li a:hover {
            color: #ea2a00; }
        footer .container article ul li:last-child {
          margin-bottom: 0; }
      footer .container article address {
        font-style: normal;
        min-width: 175px;
        margin-bottom: 1rem; }
        footer .container article address p {
          letter-spacing: 1px; }
      footer .container article .contact {
        min-width: 175px; }
        footer .container article .contact a {
          color: #fff;
          display: block;
          cursor: pointer; }
          footer .container article .contact a:hover {
            color: #ea2a00; }
      footer .container article:first-child {
        flex-direction: column;
        align-items: flex-start; }
      footer .container article:nth-child(2) {
        flex-direction: column; }
      footer .container article:last-child {
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row; }
        footer .container article:last-child .copyRight {
          flex: 0 0 240px;
          width: 240px;
          letter-spacing: 1.3px; }
          footer .container article:last-child .copyRight p:first-child {
            margin-bottom: 1.2rem; }
            footer .container article:last-child .copyRight p:first-child span {
              color: #ea2a00; }

header {
  position: relative;
  height: 100vh;
  background: url(/assets/main/header_bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row; }
  header hgroup {
    position: relative; }
    header hgroup h1 {
      position: relative;
      display: block;
      font-size: 9rem;
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
      line-height: 0.81;
      z-index: 10; }
    header hgroup .strelica {
      position: absolute;
      left: 50%;
      top: 103.2%;
      max-height: 220px;
      transform: translateX(-50%) translateY(0); }
      header hgroup .strelica img {
        height: 100%;
        display: block; }
    header hgroup .medalje {
      position: absolute;
      left: -140px;
      z-index: 0;
      top: 90%; }
      header hgroup .medalje .aps_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: -33px;
        margin-left: -97px; }
        header hgroup .medalje .aps_content h2 {
          font-size: 4.5rem;
          position: relative; }
          header hgroup .medalje .aps_content h2 img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 135px; }
        header hgroup .medalje .aps_content .content_text {
          margin-left: 30px; }
          header hgroup .medalje .aps_content .content_text p:nth-child(1) {
            font-size: 1.5rem;
            line-height: 1; }
  header .accentBox {
    background: #ea2a00;
    padding: 35px 60px;
    position: absolute;
    right: 0; }
    header .accentBox p,
    header .accentBox h2:nth-child(2) {
      color: #fff; }
    header .accentBox p {
      font-size: 1.3rem;
      letter-spacing: 2px; }
    header .accentBox h2:nth-child(2) {
      font-size: 1.6rem;
      font-family: "Playfair Display", serif; }
    header .accentBox .aps {
      position: absolute;
      font-size: 120px;
      top: -115px;
      right: 135px; }
  header ._950 {
    position: absolute;
    left: 30px;
    top: 53%; }
    header ._950 .aps_wrapper {
      position: relative; }
      header ._950 .aps_wrapper h2 {
        font-size: 15rem;
        position: absolute;
        top: -18rem;
        left: -3.6rem;
        z-index: 2; }
      header ._950 .aps_wrapper .aps_content {
        position: absolute;
        top: 90%;
        transform: translateY(-55%);
        left: 50px;
        width: 300px; }
        header ._950 .aps_wrapper .aps_content p {
          font-size: 1.3rem; }
  header .doted_line {
    position: absolute;
    left: 302px;
    top: 45%;
    width: 20vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden; }
    header .doted_line span {
      display: block;
      flex: 0 0 6px;
      height: 2px;
      background: #ea2a00;
      margin: 0 3px; }

.timeline {
  background: linear-gradient(rgba(33, 38, 41, 0.6), rgba(33, 38, 41, 0.6)), url(/assets/timeLine/timeLIneBg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; }
  .timeline .tl_wrapper {
    position: relative;
    border: 1px solid red;
    height: 100%; }
    .timeline .tl_wrapper .tlHead {
      position: absolute;
      width: 55%;
      min-width: 320px;
      left: 50%;
      top: 0;
      transform: translateX(-50%); }
      .timeline .tl_wrapper .tlHead img {
        width: 100%;
        display: block; }
    .timeline .tl_wrapper .tl_circle {
      position: absolute;
      bottom: 0;
      left: 0; }
      .timeline .tl_wrapper .tl_circle img {
        display: block;
        width: 100%; }
    .timeline .tl_wrapper .container {
      position: relative;
      height: 100%;
      border: 1px solid red; }
      .timeline .tl_wrapper .container .tlYear {
        position: absolute; }
        .timeline .tl_wrapper .container .tlYear h3,
        .timeline .tl_wrapper .container .tlYear p {
          position: relative;
          color: #fff;
          line-height: 1;
          z-index: 2;
          letter-spacing: 1.6px; }
        .timeline .tl_wrapper .container .tlYear h3 {
          line-height: 0.8;
          letter-spacing: -6px; }
        .timeline .tl_wrapper .container .tlYear span {
          z-index: 1; }
      .timeline .tl_wrapper .container .lines {
        position: absolute; }

.box {
  height: 200px;
  padding: 20px;
  margin: 100px; }

/*# sourceMappingURL=css.style.css.map */
